@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Καλώς ήρθατε</h1>
    <p>Learn about
    <a href="https://codehub.gr">
        CodeHub</a>.</p>


    <img src = "https://cdn.dribbble.com/users/742227/screenshots/3365838/new-7.jpg"/>

</div>
